#sub-main-section,
#sale-event {
    min-height: 520px;
    margin-top: 100px;
}

.search {
    width: 500px;
    margin: 0 auto;
}

#search-bread {
    max-width: 160px;
}

.store-list {
    display: flex;
    justify-content: space-evenly;
}

.bread-store-list {
    min-width: 505px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.card { width: 240px; }

.card>img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}


/* 스탬프 페이지 */

#stamp-page>.left-main {
    width: 500px;
    padding: 80px;
    padding-right: 0;
}

.left-main>div { margin: 60px 0; }
.issue>button { margin: 5px 35px; }

.right-roulette { position: relative; padding: 55px; }
.roulette-arrow {
    width: 7px;
    height: 30px;
    position: absolute;
    top: 40px; left: 50%;
    z-index: 100;
    transform: translateX(-50%);
    background-color: #ff5;
}

/* .right-roulette>img:hover {
    transform: rotateZ(828deg);
} */


/* 팝업 */

.popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    padding-top: 90px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
}

.inner {
    width: 500px;
    height: 200px;
    position: relative;
    background-color: #fff;
}

.popup-header { height: 35px; }
.popup-header>.close-btn { font-size: 18px; }
.popup-btns>.btn { margin-left: 5px; }


/* 로그인 페이지 */

#login-page {
    width: 700px;
    height: 350px;
    margin: 100px auto;
    padding-top: 30px;
}

.user-info { cursor: default; flex-direction: column; }
.user-info>span { font-size: 14px; }


/* 할인 메뉴 페이지 */

.breads {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
}